@use "../base/typography";
@use "../base/colors";

#shoppingFlow {
  .back-button {
    .backArrow {
      display: flex;
      align-items: center;
      margin-top: 5rem;
      border: none;
      svg {
        transform: rotate(180deg);
        transform-origin: 50% 50%;
        width: 2rem;
        height: auto;
      }
    }
  }
  #orderFlow {
    // margin-top: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;

    /*ORDER DETAILS*/
    #paymentForm {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-bottom: 4rem;
      width: 35rem;
      margin-right: 0;
      input:invalid:not(:placeholder-shown, :focus) {
        border: dashed 1px red;
      }

      input:focus-visible {
        outline: none;
        box-shadow: none;

        outline: solid 1.5px colors.$purple-3;
      }
    }

    #shoppingbagDetails {
      width: 30rem;
      margin: 1rem;
      padding-left: 0.8rem;
      padding-right: 0.8rem;
      padding-top: 0.1rem;
      padding-bottom: 2rem;
    }

    .shoppingBagTitle {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-top: 1rem;
      margin-bottom: 2rem;

      .editButton {
        margin-left: 1rem;
        font-size: 12px;
        padding: 5px 16px;
        text-align: center;
        display: flex;
        // padding: 10px 37px;
        background: transparent;
        border: solid 2px colors.$purple-3;
        border-radius: 30px;
        color: black;
        text-transform: uppercase;
        font-family: typography.$font-1;
        font-weight: 500;
        letter-spacing: 1px;
        position: relative;
        transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
        cursor: pointer;
        display: inline-flex;

        svg {
          width: 1rem;
          height: auto;
        }
      }
    }

    .orderItem {
      display: flex;
      gap: 1rem;
    }

    .bagproductImg {
      width: 140px;
      height: 140px;
    }

    .bagproductImg img {
      max-width: 80%;
    }

    .bagproductInfo {
      display: flex;
      flex-direction: column;
      margin-bottom: 1rem;
      font-size: 0.8rem;
      width: 10rem;
      p {
        margin-bottom: 0.5rem;
      }
    }

    .bagproductInfo * {
      margin: 0;
      margin-top: 0.3rem;
    }

    .bagName {
      text-transform: uppercase;
    }

    .bagQuantity .minus,
    .bagQuantity .plus {
      display: none;
    }

    .bagQuantity .quantityInput {
      border: 1px solid;
      border-color: colors.$purple-3;
      font-size: 1.2rem;
      border-radius: 25px;
      padding: 0.2rem 0.7rem;
    }

    .bagproductPrice {
      align-self: flex-end;
    }

    .lineS {
      width: 10rem;
      border-top: 1px solid black;
    }
    .line {
      width: 25rem;
      border-top: 1px solid black;
    }
    .orderPrice {
      margin-left: 0.5rem;
      display: flex;
      font-size: 0.8rem;
      width: 25rem;
    }

    .orderPrice * {
      margin: 0;
      margin-top: 0.2rem;
      text-transform: uppercase;
    }

    .priceText {
      width: 185px;
    }

    .priceAmount {
      width: 185px;
      text-align: right;
    }

    .subtotal {
      margin-top: 1rem;
      font-weight: 500;
    }

    .paymentForm {
      display: flex;
      flex-direction: column;
      margin-bottom: 2rem;
      width: 35rem;
    }

    .shippingDetails,
    .deliveryForm,
    .paymentForm2 {
      padding-left: 2rem;
      background-color: colors.$purple-1;
      width: 25rem;
    }

    #shoppingbagDetails {
      padding-left: 2rem;
    }
    .shippingDetails {
      margin: 1rem;
      padding-right: 0.8rem;
      padding-top: 0.1rem;
      padding-bottom: 2rem;
      display: flex;
      flex-direction: column;
      padding-right: 5rem;
      input {
        width: 200px;
        border-radius: 20px;
        border: solid 1px colors.$purple-2;
        padding: 10px 20px;
        margin-bottom: 10px;
      }
      select {
        width: 240px;
        border-radius: 20px;
        border: solid 1px colors.$purple-2;
        padding: 10px 20px;
        margin-bottom: 10px;
        background-color: white;
        option {
          padding: 10px;
        }
      }
      label {
        display: block;
        color: colors.$purple-3;
      }
    }

    .deliveryForm {
      margin: 1rem;
      padding-right: 0.8rem;
      padding-top: 0.1rem;
      padding-bottom: 2rem;
      padding-right: 5rem;
    }

    .deliveryForm * {
      margin-top: 1.5rem;
    }

    .deliveryForm span {
      margin-left: 1.5rem;
      font-size: 0.9rem;
      font-weight: lighter;
    }

    .paymentForm2 {
      margin: 1rem;
      padding-right: 0.8rem;
      padding-top: 0.1rem;
      padding-bottom: 2rem;
      padding-right: 5rem;

      h4 {
        margin-top: 1rem;
      }
    }

    .paymentForm h2,
    .paymentForm h3 {
      margin: 0;
      margin-bottom: 0.5rem;
      margin-top: 1rem;
    }

    .paymentMethod {
      display: flex;
      flex-direction: column;
      input[name="cardNumber"],
      input[name="nameCard"] {
        width: 200px;
        border-radius: 20px;
        border: solid 1px colors.$purple-2;
        padding: 10px 20px;
      }
      input[name="CVV"],
      select[name="month"],
      select[name="year"] {
        width: 100px;
        border-radius: 20px;
        border: solid 1px colors.$purple-2;
        padding: 10px 20px;
        background-color: white;
      }
      label {
        display: block;
        color: colors.$purple-3;
        padding-top: 0.5rem;
      }
      label[for="cardMethod"] {
        color: black;
        padding-top: 0.5rem;
      }

      h4 {
        margin-top: 1.5rem;
      }
    }

    .paymentMethod h3 {
      margin-top: 0.8rem;
      margin-bottom: -0.5rem;
    }

    .methodOptions {
      display: flex;
      flex-direction: row;
      margin-top: 0.3rem;
      align-items: center;
      label {
        display: block;
        padding-left: 0.2rem;
      }
    }

    /*ORDER CONFIRMATION*/

    .thanksMsg {
      text-align: center;
    }

    .thanksMsg * {
      margin: 0;
    }

    .thanksMsg h1 {
      text-shadow: -2px 2px 0px #edff00;
    }

    .thanksMsg p {
      margin-top: 0.8rem;
    }

    .orderDetailsConf {
      margin: 1rem;
      padding-left: 2.5rem;
      padding-right: 0.8rem;
      padding-top: 0.5rem;
      padding-bottom: 2rem;
      box-shadow: 0px 5px 11px 0px rgba(0, 0, 0, 0.12);
    }

    .orderDetailsConf * {
      margin: 0;
    }

    .orderDetailsConf h2 {
      text-align: center;
    }

    .orderDetailsConf h3 {
      margin-top: 0.8rem;
      font-size: 1rem;
      font-weight: 500;
    }

    .orderSummaryConf {
      margin: 1rem;
      padding-left: 0.8rem;
      padding-right: 0.8rem;
      padding-top: 0.1rem;
      padding-bottom: 2rem;
      box-shadow: 0px 5px 11px 0px rgba(0, 0, 0, 0.12);
    }

    .orderSummaryConf h2 {
      text-align: center;
      margin-top: 0.5rem;
      margin-bottom: 0;
    }

    .exDel {
      text-align: center;
      margin-top: 0.5rem;
    }

    .backtoShop {
      text-align: center;
      margin-bottom: 3rem;
    }

    .backtoShop button {
      width: 230px;
      height: 40px;
      border: none;
      background-color: var(--color-2);
      color: white;
      border-radius: 50px;
      font-size: 1.2rem;
      font-style: var(--font-1);
      margin-top: 1rem;
      box-shadow: 0px 5px 11px 0px rgba(0, 0, 0, 0.12);
      transition: all 0.2s ease-in-out;
    }

    .backtoShop button:hover {
      background-color: var(--color-3);
    }

    .backtoShop button:active {
      opacity: 0.7;
      box-shadow: none;
    }

    .hidden {
      display: none;
    }
  }
}

@media only screen and (min-width: 375px) {
  #shoppingFlow {
    #orderFlow {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      // .line {
      //   width: 30rem;
      // }

      // .orderPrice {
      //   width: 30rem;
      // }
    }

    .paymentForm {
      width: 350px;
      background-color: white;
      align-items: center;
    }

    #shoppingbagDetails {
      height: 500px;
      width: 380px;
      top: 0;
      // position: sticky;
      .editButton {
        margin-left: 1rem;
        font-size: 12px;
        padding: 5px 16px;
        text-align: center;
        // padding: 10px 37px;
        background: transparent;
        border: solid 2px colors.$purple-3;
        border-radius: 30px;
        color: black;
        text-transform: uppercase;
        font-family: typography.$font-1;
        font-weight: 500;
        letter-spacing: 1px;
        position: relative;
        transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
        cursor: pointer;
        display: inline-flex;
        align-items: center;

        svg {
          width: 3rem;
          height: auto;
        }
      }
    }

    .orderConfSec {
      display: flex;
    }

    .orderDetailsConf {
      width: 400px;
    }

    .orderSummaryConf {
      width: 400px;
    }

    #orderConfirmation .lineL {
      max-width: 370px;
    }
  }
}

// @media only screen and (max-width: 860px) {
//   #shoppingFlow {
//     #orderFlow {
//       flex-direction: column;
//       align-items: center;
//     }
//     .paymentForm {
//       width: 400px;
//     }

//     #shoppingbagDetails {
//       // margin-right: 4vw;
//       width: 500px;
//     }
//   }
// }

@media only screen and (min-width: 960px) {
  #shoppingFlow {
    #orderFlow {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    #shoppingbagDetails {
      // margin-right: 8vw;
      margin-left: 5vw;
    }
  }
}

@media only screen and (min-width: 1024px) {
  #shoppingFlow {
    #orderFlow {
      display: flex;
      flex-direction: row-reverse;
      align-items: baseline;
      margin-top: -3rem;

      .shippingDetails {
        input {
          width: 300px;
        }
        select {
          width: 340px;
        }
        option {
          padding: 10px;
        }
      }
      .paymentMethod {
        input[name="cardNumber"],
        input[name="nameCard"] {
          width: 300px;
        }
        input[name="CVV"],
        select[name="month"],
        select[name="year"] {
          width: 150px;
        }
      }
    }
    .orderDetailsConf {
      margin-left: 6rem;
    }
    #shoppingbagDetails {
      // margin-right: 15vw;
      height: fit-content;
      position: sticky;
    }
  }
}

@media only screen and (min-width: 1200px) {
  #shoppingFlow {
    #orderFlow {
      display: flex;
      flex-direction: row-reverse;
      align-items: baseline;
      .line {
        width: 22.5rem;
      }
    }
    .paymentForm {
      width: 500px;
    }

    .orderDetailsConf {
      margin-left: 12rem;
    }
    #shoppingbagDetails {
      // margin-right: 15vw;
      height: fit-content;
      position: sticky;
    }
  }
}

@media only screen and (min-width: 1300px) {
  #shoppingFlow {
    #orderFlow {
      display: flex;
      flex-direction: row-reverse;
      align-items: baseline;

      .line {
        width: 22.5rem;
      }
    }
    .orderDetailsConf {
      margin-left: 15rem;
    }
    #shoppingbagDetails {
      // margin-right: 15vw;
      height: fit-content;
      position: sticky;
    }
  }
}

@media only screen and (min-width: 1400px) {
  #shoppingFlow {
    #orderFlow {
      display: flex;
      flex-direction: row-reverse;
      align-items: baseline;
    }

    .paymentForm {
      width: 500px;
      margin-right: 0vw;
    }

    #shoppingbagDetails {
      // margin-right: 15vw;
      height: fit-content;
      position: sticky;
    }

    .orderDetailsConf {
      margin-left: 21rem;
    }
  }
}
