@use "../base/typography";
@use "../base/colors";

#shoppingBag {
  #shoppingbagDetails {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 7rem;

    .shoppingBagTitle {
      display: flex;
      flex-direction: column;
      h2 {
        margin: 0;
        margin-top: 0.8rem;
      }
      button {
        background-color: white;
        border: solid 2px black;
        box-shadow: 0px 5px 6px -2px rgba(0, 0, 0, 0.12);
        width: 60px;
      }

      a {
        text-align: right;
      }
    }
  }
  .qt {
    display: flex;
    flex-direction: row;
    .bagQuantity {
      display: flex;
      align-items: center;
      input {
        border: 1px solid colors.$purple-3;
        text-align: center;
        border-radius: 25%;
        width: 25px;
        height: auto;
      }
      .minus,
      .plus {
        background-color: #fff;
        border: 1px solid colors.$purple-3;
        border-radius: 25%;
        width: 15px;
        height: 15px;
        margin: 0 0.2rem;
        display: block;
      }
    }
  }
  .orderItem {
    display: flex;
    gap: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 3rem;
  }

  .bagproductImg {
    width: 140px;
    height: 140px;
  }

  .bagproductImg img {
    max-width: 100%;
  }

  .bagproductInfo {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    font-size: 0.8rem;
    width: 15rem;
  }

  .bagproductInfo * {
    margin: 0;
    // margin-top: 0.3rem;
  }

  .bagName {
    text-transform: uppercase;
  }

  .bagproductPrice {
    align-self: flex-end;
    margin-top: 0.5rem;
  }

  .lineS {
    width: 15rem;
    height: 1px;
    background-color: rgb(198, 198, 198);
    position: relative;
    z-index: -1;
    margin-top: 4rem;
  }

  .lineL {
    width: 35rem;
    height: 2px;
    background-color: black;
  }

  .lineL_2 {
    width: 35rem;
    height: 2px;
    background-color: black;
  }

  .orderSummary {
    margin-top: 1rem;

    .shopping-total {
      background-color: colors.$purple-1;
      padding: 0;
    }
  }

  .orderPrice,
  .orderPriceTotal {
    display: flex;
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
    width: 34rem;
  }

  .orderPriceTotal {
    width: 34rem;
  }
  .orderPrice *,
  .orderPriceTotal * {
    margin-top: 0.2rem;
    text-transform: uppercase;
  }

  .priceText {
    width: 30rem;
  }
  .priceText_2 {
    width: 20rem;
  }

  .priceAmount {
    width: 185px;
    text-align: right;
  }

  .subtotal {
    margin-top: 1rem;
    font-weight: 500;
  }

  .similar {
    text-align: center;
    font-size: 1.5rem;
    margin-top: 7%;
  }

  .shoppingBag {
    font-size: 1.2rem;
    margin: 0.2rem 0;
    line-height: 1.6rem;
  }

  .subtotalFinal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  #suggestions {
    width: 100%;
    white-space: nowrap;
    overflow-x: auto;
    margin-bottom: 5%;
  }

  .bagOne img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0;
  }

  #suggestions .bagOne {
    display: inline-block;
    margin: 0;
  }

  .bagOne {
    width: 10em;
  }

  .p {
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 0.9rem;
  }

  .price {
    font-size: 1rem;
    text-align: center;
    font-weight: 200;
    margin: 0;
  }

  .buttons {
    margin-top: 1.5rem;
  }

  .buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3rem;
  }

  a {
    margin: 0.5rem 0;
  }
}

@media only screen and (min-width: 900px) {
  #shoppingBag {
    .orderSummary {
      display: flex;
      flex-direction: row;
      .shopping-total {
        background-color: colors.$purple-1;
        padding: 1rem 2rem;

        .orderPrice,
        .orderPriceTotal {
          width: 30rem;
        }
      }
    }

    #shoppingbagDetails {
      display: flex;
      justify-content: center;
    }

    .items {
      margin: 0 4rem;
    }

    .bagOne {
      width: 20em;
    }

    .similar {
      font-size: 2rem;
    }

    .orderSummary {
      margin-top: 0;
    }

    .shoppingBag {
      margin-top: 0;
    }

    .bagproductImg {
      width: 220px;
      height: 220px;
    }

    .lineL {
      width: 30rem;
    }

    .lineL_2 {
      width: 31rem;
    }

    .bagName {
      font-size: 1.3rem;
    }

    p,
    .bagColor,
    .bagQuantity {
      font-size: 0.9rem;
    }
    .qt {
      display: flex;
      flex-direction: row;
      .bagQuantity {
        display: flex;
        input {
          border: 1px solid colors.$purple-3;
          text-align: center;
          border-radius: 25%;
          pointer-events: none;
          width: 30px;
          height: 20px;
        }
        .minus {
          background-color: #fff;
          border: 1px solid colors.$purple-3;
          border-radius: 25%;
          width: 15px;
          height: 15px;
          display: block;
          // margin: 0 0.2rem;
        }
        .plus {
          background-color: #fff;
          border: 1px solid colors.$purple-3;
          border-radius: 25%;
          width: 15px;
          height: 15px;
          // margin: 0 0.2rem;
        }
      }
    }

    .price {
      text-align: center;
      justify-content: center;
      font-weight: 200;
      margin: 0;
      padding: 0;
    }
  }
}
