@use "../base/colors";
@use "../base/typography";

.regular-button {
  padding: 10px 37px;
  background: transparent;
  border: solid 2px colors.$purple-3;
  border-radius: 30px;
  color: black;
  text-transform: uppercase;
  font-family: typography.$font-1;
  font-weight: 900;

  font-size: 13px;
  letter-spacing: 1px;
  position: relative;
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  cursor: pointer;
  display: inline-flex;
}

.regular-button::after,
.regular-button::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translateY(-50%);
  opacity: 0;
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.regular-button::after {
  width: 20px;
  height: 1px;
  background: black;
  transform: translateX(-3px);
  // margin-top: 0;

  margin-top: -1px;
}

.regular-button::before {
  content: "";
  transform: rotate(-135deg) translateX(50%);
  width: 11px;
  height: 11px;
  background: transparent;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  margin-top: -2px;
  // margin-top: -1px;
}

.regular-button:hover {
  // padding: 12px 60px 12px 20px;
  padding: 10px 60px 10px 14px;
}

.regular-button:hover::after,
.regular-button:hover::before {
  opacity: 1;
  right: 20px;
}
/* ADD TO CART regular-button */

.cart-regular-button {
  margin-top: 2rem;
  position: relative;
  font-family: typography.$font-1;
  width: 250px;
  height: 50px;
  border: solid 2px colors.$purple-3;
  border-radius: 100px;
  outline: none;
  cursor: pointer;
  color: #000;
  transition: 0.3s ease-in-out;
  overflow: hidden;
  background-color: #fff;
}
.cart-regular-button:hover {
  background-color: colors.$purple-3;
  .fa-shopping-cart {
    color: #fff;
  }
  .fa-box {
    color: #fff;
  }
  span {
    color: #fff;
  }
}
.cart-regular-button:active {
  transform: scale(0.9);
}

.cart-regular-button .fa-shopping-cart {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: -10%;
  font-size: 2em;
  transform: translate(-50%, -50%);
  color: #000;
}
.cart-regular-button .fa-box {
  position: absolute;
  z-index: 3;
  top: -20%;
  left: 52%;
  font-size: 1.2em;
  transform: translate(-50%, -50%);
  color: #000;
}
.cart-regular-button span {
  position: absolute;
  z-index: 3;
  left: 50%;
  top: 50%;
  font-size: 1.2em;
  color: #000;
  text-transform: uppercase;
  transform: translate(-50%, -50%);
}
.cart-regular-button span.add-to-cart {
  opacity: 1;
  transition: all 0.2s;
}
.cart-regular-button span.added {
  opacity: 0;
  transition: all 0.2s;
}

.cart-regular-button.clicked .fa-shopping-cart {
  animation: cart 1.5s ease-in-out forwards;
}
.cart-regular-button.clicked .fa-box {
  animation: box 1.5s ease-in-out forwards;
}
.cart-regular-button.clicked span.add-to-cart {
  animation: txt1 1.5s ease-in-out forwards;
}
.cart-regular-button.clicked span.added {
  animation: txt2 2s ease-in-out forwards;
  animation-delay: 1.5s;
}
@keyframes cart {
  0% {
    left: -10%;
  }
  40%,
  60% {
    left: 50%;
  }
  100% {
    left: 110%;
  }
}
@keyframes box {
  0%,
  40% {
    top: -20%;
  }
  60% {
    top: 40%;
    left: 52%;
  }
  100% {
    top: 40%;
    left: 112%;
  }
}
@keyframes txt1 {
  0% {
    opacity: 1;
  }
  20%,
  100% {
    opacity: 0;
  }
}
@keyframes txt2 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@media only screen and (min-width: 760px) {
}

@media only screen and (min-width: 1200px) {
  .regular-button {
    padding: 12px 40px;

    font-size: 15px;
    display: block;
  }

  .regular-button::after {
    width: 30px;
    margin-top: 0px;
  }

  .regular-button::before {
    content: "";

    width: 11px;
    height: 11px;

    margin-top: -1px;
  }

  .regular-button:hover {
    padding: 12px 62px 12px 20px;
  }

  .regular-button:hover::after,
  .regular-button:hover::before {
    opacity: 1;
    right: 20px;
  }
}
