@use "../base/colors";

.regular-button:hover {
  cursor: pointer;
}
.regular-button {
  padding: 8px 20px;
  display: inline-flex;
  align-items: center;
  font-size: 15px;
  background-color: transparent;
  border-radius: 45px;
  border: solid 2px colors.$purple-3;
  height: 37px;
  margin-top: auto;
  margin-bottom: auto;
}

@media only screen and (min-width: 760px) {
  .regular-button {
    font-size: 17px;
    height: 40px;
  }
}

@media only screen and (min-width: 1200px) {
  .regular-button {
    font-size: 18px;
    height: 40px;
  }
}
