@use "../base/colors";
@use "../base/typography";

.regular-button:hover {
  cursor: pointer;
}
.regular-button {
  padding: 8px 20px;
  display: inline-flex;
  align-items: center;
  font-size: 15px;
  background-color: transparent;
  border-radius: 45px;
  border: solid 2px colors.$purple-3;
  height: 37px;
  margin-top: auto;
  margin-bottom: auto;
}

/* ADD TO CART BUTTON */

.cart-button {
  margin-top: 2rem;
  position: relative;
  font-family: typography.$font-1;
  width: 250px;
  height: 50px;
  border: solid 2px colors.$purple-3;
  border-radius: 100px;
  outline: none;
  cursor: pointer;
  color: #000;
  transition: 0.3s ease-in-out;
  overflow: hidden;
  background-color: #fff;
}
.cart-button:hover {
  background-color: colors.$purple-3;
  .fa-shopping-cart {
    color: #fff;
  }
  .fa-box {
    color: #fff;
  }
  span {
    color: #fff;
  }
}
.cart-button:active {
  transform: scale(0.9);
}

.cart-button .fa-shopping-cart {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: -10%;
  font-size: 2em;
  transform: translate(-50%, -50%);
  color: #000;
}
.cart-button .fa-box {
  position: absolute;
  z-index: 3;
  top: -20%;
  left: 52%;
  font-size: 1.2em;
  transform: translate(-50%, -50%);
  color: #000;
}
.cart-button span {
  position: absolute;
  z-index: 3;
  left: 50%;
  top: 50%;
  font-size: 1.2em;
  color: #000;
  text-transform: uppercase;
  transform: translate(-50%, -50%);
}
.cart-button span.add-to-cart {
  opacity: 1;
  transition: all 0.2s;
}
.cart-button span.added {
  opacity: 0;
  transition: all 0.2s;
}

.cart-button.clicked .fa-shopping-cart {
  animation: cart 1.5s ease-in-out forwards;
}
.cart-button.clicked .fa-box {
  animation: box 1.5s ease-in-out forwards;
}
.cart-button.clicked span.add-to-cart {
  animation: txt1 1.5s ease-in-out forwards;
}
.cart-button.clicked span.added {
  animation: txt2 2s ease-in-out forwards;
  animation-delay: 1.5s;
}
@keyframes cart {
  0% {
    left: -10%;
  }
  40%,
  60% {
    left: 50%;
  }
  100% {
    left: 110%;
  }
}
@keyframes box {
  0%,
  40% {
    top: -20%;
  }
  60% {
    top: 40%;
    left: 52%;
  }
  100% {
    top: 40%;
    left: 112%;
  }
}
@keyframes txt1 {
  0% {
    opacity: 1;
  }
  20%,
  100% {
    opacity: 0;
  }
}
@keyframes txt2 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@media only screen and (min-width: 760px) {
  .regular-button {
    font-size: 17px;
    height: 40px;
  }
}

@media only screen and (min-width: 1200px) {
  .regular-button {
    font-size: 18px;
    height: 40px;
  }
}
