@use "../base/colors";

div.circle-button {
  background-color: colors.$purple-3;
  border-radius: 100%;
  text-align: center;
  display: inline-block;
  margin: 0;
  height: 105px;
  width: 105px;

  p {
    display: flex;
    height: 105px;
    font-size: 1rem;
    align-items: center;
    justify-content: center;
    color: white;
    transform: rotate(-30deg);
  }
}

div.circle-button:hover {
  animation: spaceboots 1s infinite;
  cursor: pointer;
}
.about-timeline {
  .circle-button {
    position: relative;
    top: -90px;
    left: 30px;
  }
}
.services-page {
  .circle-button {
    position: relative;
    top: -60px;
    left: -90px;
  }
}
//maybe change this animation if it's too intense??
@keyframes spaceboots {
  0% {
    -webkit-transform: translate(2px, 1px) rotate(0deg);
  }
  10% {
    -webkit-transform: translate(-1px, -2px) rotate(0deg);
  }
  20% {
    -webkit-transform: translate(-3px, 0px) rotate(2deg);
  }
  30% {
    -webkit-transform: translate(0px, 2px) rotate(0deg);
  }
  40% {
    -webkit-transform: translate(2px, 1px) rotate(0deg);
  }
  50% {
    -webkit-transform: translate(-1px, -2px) rotate(2deg);
  }
  60% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg);
  }
  70% {
    -webkit-transform: translate(0px, 2px) rotate(0deg);
  }
  80% {
    -webkit-transform: translate(0px, 2px) rotate(0deg);
  }
  90% {
    -webkit-transform: translate(2px, 1px) rotate(0deg);
  }
}

@media only screen and (min-width: 760px) {
  div.circle-button {
    height: 130px;
    width: 130px;

    p {
      height: 130px;
      font-size: 16px;
    }
  }

  .services-page {
    .circle-button {
      position: relative;
      top: -90px;
      left: 30vw;
    }
  }
}

@media only screen and (min-width: 1250px) {
  div.circle-button {
    height: 155px;
    width: 155px;

    p {
      height: 155px;
      font-size: 18px;
    }
  }

  .services-page {
    .circle-button {
      position: relative;
      top: -90px;
      left: 33vw;
    }
  }
}
@media only screen and (min-width: 1400px) {
  div.circle-button {
    height: 160px;
    width: 160px;

    p {
      height: 160px;
      font-size: 20px;
    }
  }
  .services-page {
    .circle-button {
      position: relative;
      top: -90px;
      left: 36vw;
    }
  }
}
