@use "../base/colors";

div.circle-button {
  width: 100px;
  height: 100px;
  background-color: colors.$purple-3;
  border-radius: 100%;
  text-align: center;
  p {
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: center;
    color: white;
    transform: rotate(-30deg);
  }
}
.about-timeline {
  .circle-button {
    position: relative;
    top: -60px;
    left: 45px;
  }
}
