@use "../base/colors";

.dropdown a:hover {
  color: #f2d5e8;
}

.dropdownList {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.list li,
.list2 li,
.list3 li {
  color: black;
  font-weight: 100;
}
.list,
.list2,
.list3 {
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
}
.dropdown ul ul {
  /* transform: scaleY(0); */
  transition: all 0.5s;
  height: 0;
  overflow: hidden;
}

.dropdown > .dropdownList:hover .list,
.dropdown > .dropdownList:hover .list2,
.dropdown > .dropdownList:hover .list3 {
  /* transform: scaleY(1); */
  height: 80px;
}

.dropdown > .dropdownList:hover .name {
  color: colors.$purple-3;
}

hr {
  width: 25rem;
  margin-bottom: 1rem;
}
