@use "../base/typography";
@use "../base/colors";

#menu-nav {
  /* MENU */

  .logo {
    left: 1vw;
    top: 1vw;
    width: 4rem;
    position: fixed;
    z-index: 100;
  }

  .navOptions {
    position: absolute;
    top: 20px;
    right: 30px;
    display: flex;
    gap: 1.2rem;
    font-size: 1.5rem;
    position: fixed;
    z-index: 98;
    div {
      transition: all 0.2s ease-in-out;
      cursor: pointer;
      z-index: 90;
      &:hover {
        color: colors.$pink-2;
        transition: all 0.2s ease-in-out;
      }
    }
  }

  .closeMenu {
    position: absolute;
    top: 20px;
    right: 50px;
    font-size: 1.7rem;
    cursor: pointer;
    color: colors.$pink-2;
    transition: 0.2s;
    z-index: 90;
  }

  .closeMenu:hover {
    color: #000;
  }

  #menuSec nav {
    position: absolute;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: -100vh;
    left: 0;
    z-index: 100;
    display: flex;
    flex-direction: column;
    gap: 8rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #fff;
    color: colors.$purple-3;
    transition: 1s;
  }

  @keyframes bgchange {
    0% {
      background-color: colors.$purple-1;
    }
    16% {
      background-color: colors.$purple-2;
    }
    32% {
      background-color: colors.$purple-3;
    }
    48% {
      background-color: colors.$purple-4;
    }
    64% {
      background-color: colors.$pink-1;
    }
    80% {
      background-color: colors.$pink-2;
    }
    100% {
      background-color: colors.$purple-1;
    }
  }

  .menuOptions {
    display: flex;
    flex-direction: column;
    font-size: 5rem;
    gap: 4.5rem;
    text-align: center;
    width: fit-content;
    justify-content: center;
    align-items: center;
  }

  .menuOptions a {
    text-decoration: none;
    transition: 0.1s ease-in-out;
    position: relative;
    width: fit-content;
    color: #000;
  }

  .menuOptions a:hover {
    color: colors.$pink-2;
    text-decoration: none;
    transform: translateX(10px);
  }

  .menuBottom {
    align-self: flex-start;
    margin-left: 3rem;
    display: flex;
    gap: 2rem;
    color: #000;
    transition: all 0.2s;

    .left {
      a {
        padding: 0 0.9rem;
      }
    }

    .social-media-menu {
      list-style-type: none;
      display: flex;
      flex-direction: row;
      li {
        padding: 0 0.5rem;
        a {
          img {
            width: 1rem;
            height: auto;
          }
        }
      }
    }
    a:hover {
      text-decoration: underline;
      transition: all 0.2s;
    }
  }
}

@media only screen and (max-width: 720px) {
  #menu-nav {
    .menuOptions {
      font-size: 5rem;
    }
  }
}

@media only screen and (max-width: 500px) {
  #menu-nav {
    .closeMenu {
      top: 10px;
      right: 25px;
    }

    .openMenu {
      top: 10px;
      right: 10px;
    }

    .menuBottom {
      flex-direction: column;
      gap: 1px;
      align-self: center;
    }

    .left {
      display: flex;
      flex-direction: column;
      a {
        padding: 0 0.4rem;
      }
    }

    .social-media-menu {
      flex-direction: column;
      align-self: center;
    }
  }
}
