@import url("https://use.typekit.net/iln6akr.css");
html {
  font-size: 100%;
}

h1,
h2,
p {
  font-family: roc-grotesk, sans-serif;
  font-style: normal;
}

p {
  font-size: 1rem;
}
h1 {
  font-weight: 900;
  font-size: 4rem;
}
