@use "../base/colors";

#home-body {
  #section1 {
    height: 95vw;
    img {
      width: 35%;
    }
  }
  #wrapper {
    width: 50%;
    position: -webkit-sticky;
    position: sticky;
    margin-left: 80vw;
    top: 28vw;
    margin-right: auto;
    align-content: center;
  }

  #section2 {
    display: grid;
    grid-template-columns: 50% 50%;
    column-gap: 3vw;
    padding-top: 100px;
    img {
      max-width: 100%;
      margin-bottom: -9px;
    }

    h2 {
      padding-top: 3vw;
      line-height: 4.5vw;
    }

    h4 {
      width: 80%;
      line-height: 2.5vw;
    }
    #text-sec2 {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }

    #buttons-sec2 {
      .circle-button {
        margin-left: 16vw;
        margin-bottom: 20px;
      }
    }
  }

  #section3 {
    background-color: colors.$purple-1;
    z-index: -2;
    padding: 10vw 60px 60px 60px;
    display: flex;
    justify-content: space-between;

    h1 {
      z-index: 1;
      position: relative;
    }

    #think-circular {
      margin-left: 20vw;
      margin-top: 4vw;
    }
    img {
      border-radius: 50%;
      width: 35%;
      height: 35%;
    }

    .background-circle {
      border: colors.$purple-3 solid 5px;
      width: 40vw;
      margin-top: -120px;
      margin-left: 17vw;
      height: 12vw;
      position: unset;
      border-radius: 100%;
      transform: rotate(-12deg);
    }
  }

  #section4 {
    #circular-goods {
      display: flex;
      justify-content: space-between;
    }
    #products {
      overflow: auto;
      white-space: nowrap;
      width: unset;

      article {
        display: inline-block;
        width: 30vw;
        margin-right: 2vw;
        img {
          max-width: 100%;
        }
      }
    }
  }

  .delayed-section {
    position: absolute;
    width: 100%;
  }

  .delayed-section .inner-container {
    will-change: transform;
  }
  .delayed-section img {
    max-width: 120%;
    will-change: transform;
  }

  #del1 {
    top: -8vw;
    left: 50vw;
  }
  #del2 {
    top: 7vw;
    left: 6vw;
  }
  #del3 {
    top: 53vw;
    left: 150px;
  }
  #del4 {
    top: 37vw;
    left: 55vw;
  }
}
