#home-body {
  img {
    max-width: 100%;
  }
  .pictures {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 120px;
    row-gap: 120px;
    padding: 50px;
  }

  svg {
    fill: currentColor;
    height: auto;
    max-width: 66vmin;
    transform-origin: center;
    width: 66%;
  }
}
