@use "../base/typography";
@import url("https://use.typekit.net/iln6akr.css");

#start-screen {
  color: black;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-y: hidden;
  margin: 0;
  padding: 0;
  height: 100vh;
  font-size: calc(100vw / var(--context));

  #background {
    background-image: url("./img/render-two.png");
    height: 100vh;
    width: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    span {
      opacity: 0;
      transition: all 0.7s ease;
    }

    .fade {
      opacity: 1;
    }
    .title {
      font-size: 5rem;
      line-height: 55px;
      color: white;
      padding-top: 10rem;
      left: 0%;
      width: 100vw;
      height: auto;
      display: block;
      text-align: center;
    }
  }

  #items {
    #stool {
      position: absolute;
      top: 60%;
      left: 70%;
    }

    #vase {
      position: absolute;
      top: 43.5%;
      left: 70.5%;
      animation: pulse 3s infinite linear;
    }

    #vase:hover {
      transform: scale(1.1);
      transition: 0.5s;
    }

    .stool {
      height: 10rem;
      width: auto;
      opacity: 90%;
    }

    .vase {
      height: 10rem;
      width: auto;
      opacity: 90%;
    }
    @keyframes pulse {
      0% {
        transform: scale(1);
      }

      100% {
        transform: scale(1.1);
      }
    }
  }

  @keyframes fade-in {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }
  a {
    position: fixed;
    top: 70%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    .wrapper {
      .button {
        img {
          width: 11rem;
          position: relative;
          height: auto;
          background-color: #c0a8ba;
          border-radius: 50%;
          padding: 1.2rem;
        }
        h2 {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          color: white;
          font-size: 3rem;
        }
      }
    }
  }

  .wrapper:hover .button {
    animation: rotate 10s linear infinite;
  }
}

@media only screen and (min-width: 375px) and (max-width: 1279px) {
  #start-screen {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    #background {
      grid-column: 1/4;
    }

    .title {
      font-size: 3.5rem;
      line-height: 55px;
      color: white;
      top: 10%;
      left: 0%;
      width: 100vw;
      height: auto;
      display: block;
      text-align: center;
    }

    a {
      grid-column: 2/2;
      justify-items: center;

      .wrapper {
        margin: 0 auto;
        left: 30vw;
        .button {
          h2 {
            font-size: 2rem;
          }
          img {
            width: 8rem;
          }
        }
      }
    }
    #items {
      #stool {
        position: absolute;
        top: 55%;
        left: 60%;

        .stool {
          width: 7rem;
          height: auto;
        }
      }

      #vase {
        position: absolute;
        top: 41.5%;
        left: 63.5%;

        .vase {
          width: 5.5rem;
          height: auto;
        }
      }
    }
  }
}
