@use "../base/colors";

html {
  overflow-x: hidden;
}

#productList main {
  margin: 3rem 6rem 10rem 6rem;
}

.title {
  h2 {
    margin-bottom: 0.5rem;
  }

  .shopLink {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 0.4rem;
    transition: all 0.2s ease-in-out;
    &:hover {
      transform: translateX(8px);
      transition: all 0.2s ease-in-out;
    }
  }
}

.filters {
  margin-top: 2rem;
  ul {
    display: flex;
    justify-content: center;
    gap: 3rem;

    li {
      border: 2px solid black;
      border-radius: 20rem;
      padding: 4px 50px 4px 50px;
      text-transform: uppercase;
    }
  }
}

#productListGrid {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: 50% 50%;
  margin-left: 4rem;
}

.singleProduct {
  height: fit-content;
  width: fit-content;

  .materialTop {
    position: relative;
    z-index: 100;

    .circle {
      position: absolute;
      left: 18rem;
      top: -2rem;
      width: 115px;
      height: 115px;
      border-radius: 20rem;
      border: 2px solid black;
      background: url(../puuf-photos/mini-gunnii-material.png);
      background-size: cover;
      background-repeat: no-repeat;
    }
  }

  .materialBottom {
    position: relative;
    z-index: 100;

    .circle {
      position: absolute;
      left: 18rem;
      top: 18rem;
      width: 115px;
      height: 115px;
      border-radius: 20rem;
      border: 2px solid black;
      background: url(../puuf-photos/puuf-box-material.png);
      background-size: cover;
      background-repeat: no-repeat;
    }
  }

  .productInfoRight {
    display: flex;
    gap: 1rem;
  }

  .productImg {
    width: 400px;
    height: 400px;
    background: url(../puuf-photos/gunnii.jpg);
    background-size: cover;
    overflow: hidden;

    &:hover {
      .hoverVideo {
        opacity: 1;
        transition: all 0.2s ease-in-out;
      }
    }
  }

  .hoverVideo {
    opacity: 0;
    max-height: 100%;
    transition: all 0.2s ease-in-out;
  }

  h4 {
    text-transform: uppercase;
    font-weight: 900;
  }

  .infoRight {
    margin-top: 6rem;
    display: flex;
    flex-direction: column;
    gap: 5px;

    .priceRight {
      font-weight: 100;
      text-transform: lowercase;
    }

    .productArrowRight {
      margin-top: 1rem;
      opacity: 0;
      transition: all 0.2s ease-in-out;
      max-width: 60%;
    }
  }

  .productInfoBottom {
    margin-top: 1rem;
    display: flex;
    gap: 2rem;
    align-items: flex-end;

    .infoBottom {
      display: flex;
      flex-direction: column;
      gap: 5px;
      width: 200px;
    }

    .priceBottom {
      font-weight: 100;
      text-transform: lowercase;
    }

    .productArrowBottom {
      opacity: 0;
      transition: all 0.2s ease-in-out;
      max-width: 17%;
    }
  }

  &:hover {
    .productArrowBottom {
      opacity: 1;
      transition: all 0.2s ease-in-out;
    }

    .productArrowRight {
      opacity: 1;
      transition: all 0.2s ease-in-out;
    }
  }
}

.singleProduct.rightSide {
  margin-top: 13rem;
}
