@use "../base/colors";

#productList {
  .marginWrapper {
    margin: 3rem;
  }

  .title {
    h2 {
      margin-bottom: 0.5rem;
    }

    .oval {
      position: absolute;
      top: -3%;
      left: 14rem;
      z-index: -1;
      svg {
        max-width: 60%;
      }
    }

    .shopLink {
      display: flex;
      align-items: center;
      gap: 10px;
      margin-top: 0.4rem;
      transition: all 0.2s ease-in-out;
      width: max-content;
      &:hover {
        transform: translateX(8px);
        transition: all 0.2s ease-in-out;
      }
    }
  }

  .filters {
    margin-top: 2rem;
    ul {
      display: flex;
      justify-content: center;
      gap: 1rem;
      width: 100%;

      li {
        border: 2px solid black;
        border-radius: 20rem;
        padding: 5px 40px 5px 40px;
        text-transform: uppercase;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        transition: all 0.2s ease-in-out;
        white-space: nowrap;
        &:hover {
          border-color: colors.$purple-4;
          color: colors.$purple-4;
          transition: all 0.2s ease-in-out;
        }
      }

      li.selected {
        font-weight: 900;
        border-color: colors.$purple-4;
      }
    }
  }

  #productListGrid {
    margin-top: 4rem;
    margin-bottom: 6rem;
    display: grid; /* 
    grid-template-columns: repeat(auto-fill, minmax(50px, 500px)); */
    grid-template-columns: 50% 50%;
  }

  .singleProduct {
    height: fit-content;
    width: fit-content;
    justify-self: center;

    .materialTop {
      position: relative;
      z-index: 50;

      .circle {
        position: absolute;
        left: 18rem;
        top: -2rem;
        width: 115px;
        height: 115px;
        border-radius: 20rem;
        background-size: cover;
        background-repeat: no-repeat;
      }
    }

    .materialBottom {
      position: relative;
      z-index: 50;

      .circle {
        position: absolute;
        left: 18rem;
        top: 18rem;
        width: 115px;
        height: 115px;
        border-radius: 20rem;
        background-size: cover;
        background-repeat: no-repeat;
      }
    }

    .productInfoRight {
      display: flex;
      gap: 1rem;
    }

    .productImg {
      width: 400px;
      height: 400px;
      background: url(../puuf-photos/gunnii.jpg);
      background-size: cover;
      overflow: hidden;

      &:hover {
        .hoverVideo {
          opacity: 1;
          transition: all 0.2s ease-in-out;
        }
      }
    }

    .hoverVideo {
      opacity: 0;
      max-height: 100%;
      transition: all 0.2s ease-in-out;
    }

    h4 {
      text-transform: uppercase;
      font-weight: 900;
    }

    .infoRight {
      margin-top: 6rem;
      display: flex;
      flex-direction: column;
      gap: 5px;
      width: 30%;

      .priceRight {
        font-weight: 100;
        text-transform: lowercase;
      }

      .productArrowRight {
        margin-top: 1rem;
        opacity: 0;
        transition: all 0.2s ease-in-out;
        max-width: 60%;
      }
    }

    .productInfoBottom {
      margin-top: 1rem;
      display: flex;
      gap: 2rem;
      align-items: flex-end;

      .infoBottom {
        display: flex;
        flex-direction: column;
        gap: 5px;
        width: 230px;
      }

      .priceBottom {
        font-weight: 100;
        text-transform: lowercase;
      }

      .productArrowBottom {
        opacity: 0;
        transition: all 0.2s ease-in-out;
        max-width: 27%;
      }
    }

    &:hover {
      .productArrowBottom {
        opacity: 1;
        transition: all 0.2s ease-in-out;
      }

      .productArrowRight {
        opacity: 1;
        transition: all 0.2s ease-in-out;
      }
    }
  }

  .singleProduct.rightSide {
    margin-top: 13rem;
  }

  .vrSection {
    height: 60vh;
    width: 100vw;
    position: relative;
    display: flex;
    overflow: hidden;
    justify-content: flex-end;

    video {
      width: 100%;
      height: 100%;
      position: absolute;
      object-fit: cover;
      z-index: 0;
    }

    .videoText {
      z-index: 1;
      position: relative;
      color: white;
      align-self: flex-end;
      padding-right: 3rem;
      padding-bottom: 1rem;
    }

    .wavy {
      background: linear-gradient(to bottom, #fff 0%, #fff 100%);
      background-position: 0 95%;
      background-repeat: repeat-x;
      background-size: 4px 4px;
    }

    .wavy:hover {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .4s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23cb76ec' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
      background-position: 0 100%;
      background-size: auto 10px;
      background-repeat: repeat-x;
      text-decoration: none;
    }

    .wavy a {
      text-decoration: none;
      color: #ffffff;
    }
  }
}

/* MEDIA QUERIES */

@media only screen and (max-width: 1250px) {
  #productList {
    .marginWrapper {
      margin: 2rem;
    }

    .title {
      .oval {
        top: -8.5%;
        left: 13rem;
        svg {
          max-width: 45%;
        }
      }
    }

    .singleProduct {
      h4 {
        font-size: 1.5rem;
      }
    }

    .vrSection {
      height: 70vh;
    }
  }
}

@media only screen and (max-width: 1050px) {
  #productList {
    .title {
      .shopLink {
        gap: 5px;
        svg {
          max-width: 13%;
        }
      }
    }

    .filters {
      margin-top: 2rem;
      ul {
        li {
          padding: 10px 40px 10px 40px;
          line-height: 13px;
        }
      }
    }

    .singleProduct {
      .materialTop {
        .circle {
          left: 55%;
          top: -2rem;
          width: 90px;
          height: 90px;
        }
      }

      .materialBottom {
        .circle {
          left: 73%;
          bottom: 1%;
          width: 90px;
          height: 90px;
        }
      }

      .productImg {
        width: 300px;
        height: 300px;
      }

      .infoRight {
        gap: 0px;

        .priceRight {
          font-weight: 100;
          text-transform: lowercase;
          margin-top: -0.5rem;
        }

        .productArrowRight {
          max-width: 64%;
        }
      }

      .productInfoBottom {
        margin-top: 0.5rem;
        gap: 0rem;

        .infoBottom {
          gap: 0px;
          width: 210px;
        }

        .priceBottom {
          margin-top: -0.5rem;
        }

        .productArrowBottom {
          max-width: 25%;
        }
      }
    }
  }
}

@media only screen and (max-width: 950px) {
  #productList {
    .filters {
      ul {
        justify-content: flex-start;
        gap: 1rem;
        width: 100vw;
        overflow-x: scroll;

        &::-webkit-scrollbar {
          border-radius: 10px;
          height: 7px;
          width: 8px;
        }

        &::-webkit-scrollbar-thumb {
          background: rgb(232, 232, 232);
          border-radius: 10px;
        }

        &::-webkit-scrollbar-track {
          border-radius: 10px;
        }

        li {
          margin-bottom: 1rem;
        }
      }
    }

    .singleProduct {
      .materialTop {
        .circle {
          left: 52%;
          top: -2rem;
          width: 80px;
          height: 80px;
        }
      }

      .materialBottom {
        .circle {
          left: 60%;
          top: 16rem;
          width: 80px;
          height: 80px;
        }
      }

      .productImg {
        width: 260px;
        height: 260px;
      }
    }
  }
}

@media only screen and (max-width: 770px) {
  #productList {
    .marginWrapper {
      margin: 1rem;
    }

    .title {
      .oval {
        top: -10.5%;
        left: 12rem;
        svg {
          max-width: 45%;
        }
      }
    }

    .filters {
      ul {
        justify-content: center;

        li {
          padding: 8px 25px 8px 25px;
        }
      }
    }

    .singleProduct {
      .materialTop {
        .circle {
          left: 65%;
          top: -1.5rem;
        }
      }

      .materialBottom {
        .circle {
          left: 70%;
        }
      }
    }

    .vrSection {
      height: 40vh;
      width: 100vw;
    }
  }
}

@media only screen and (max-width: 500px) {
  #productList {
    #productListGrid {
      justify-content: center;
      grid-template-columns: 40%;
      gap: 4rem 0rem;
    }

    .title {
      .oval {
        top: -11.5%;
        left: 12rem;
        svg {
          max-width: 39%;
        }
      }
    }

    .filters {
      ul {
        justify-content: flex-start;
      }
    }

    .singleProduct {
      margin-left: 0rem !important;
      margin-top: 0rem !important;

      .materialTop .circle {
        left: 80%;
      }

      .materialBottom {
        .circle {
          left: 80%;
          top: -2rem;
        }
      }

      .productInfoBottom {
        margin-top: 0.8rem;
        gap: 0rem;

        .infoBottom {
          gap: 0px;
          width: 210px;
        }

        .priceBottom {
          margin-top: 0rem;
        }

        .productArrowBottom {
          max-width: 30%;
        }
      }
    }
  }
}

@media only screen and (max-width: 430px) {
  #productList {
    .title {
      .oval {
        top: -11.5%;
        left: 13rem;
        svg {
          max-width: 52%;
        }
      }
    }
  }
}

@media only screen and (max-width: 320px) {
  #productList {
    .title {
      .oval {
        top: -11.5%;
        left: 13rem;
        svg {
          max-width: 70%;
        }
      }
    }
  }
}
