@use "../base/colors";
@use "../base/typography";

.about-timeline {
  #part4 {
    #contact-form {
      margin-top: 30px; //usunac

      input[type="text"],
      input[type="email"],
      textarea {
        // width: 40vw;
        // padding: 10px 20px;
        // margin-bottom: 20px;
        padding: 10px 20px;
        margin-bottom: 10px;
        width: 80vw;
        border-radius: 20px;
        border: solid 1px colors.$purple-2;
      }

      label {
        display: block;
        padding-left: 10px;
        color: colors.$purple-3;
        font-size: 1.5rem; //back do 1.1rem
      }

      button {
        // margin: 1.5vw 0 0 0;
        display: block; //
        margin-right: auto; //
        margin-left: auto; //
        margin-top: 20px;
      }

      input:invalid:not(:placeholder-shown, :focus) {
        border: dashed 1px red;
      }

      input:focus-visible {
        outline: none;
        box-shadow: none;

        outline: solid 1.5px colors.$purple-3;
      }

      textarea {
        font-family: Arial, Helvetica, sans-serif;
      }
      textarea:focus-visible {
        outline: none;
        box-shadow: none;

        outline: solid 1.5px colors.$purple-3;
      }

      textarea:invalid:not(:placeholder-shown, :focus) {
        border: dashed 1px red;
      }

      ///CHECKBOX STYLING /////

      input[type="checkbox"] {
        /* Add if not using autoprefixer */
        -webkit-appearance: none;
        /* Remove most all native input styles */
        appearance: none;
        /* For iOS < 15 */
        background-color: white;
        /* Not removed via appearance */
        margin: 0;
        font: inherit;
        color: currentColor;
        width: 1.15em;
        height: 1.15em;
        border: 0.15em solid colors.$purple-2;
        border-radius: 0.15em;
        transform: translateY(-0.075em);
        display: inline-grid;
        place-content: center;
        border: solid 1px colors.$purple-2;
      }

      input[type="checkbox"]::before {
        content: "";
        width: 0.7em;
        height: 0.7em;
        clip-path: polygon(5% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
        transform: scale(0);
        transform-origin: bottom left;
        transition: 120ms transform ease-in-out;
        box-shadow: inset 1em 1em var(--form-control-color);
        /* Windows High Contrast Mode */
        background-color: colors.$purple-3;
      }

      input[type="checkbox"]:checked::before {
        transform: scale(1);
      }

      input[type="checkbox"]:focus {
        outline: 2px solid colors.$purple-3;
        background-color: white;
      }

      input[type="checkbox"]:disabled {
        --form-control-color: var(--form-control-disabled);

        color: var(--form-control-disabled);
        cursor: not-allowed;
      }

      label[for="terms"] {
        color: black;
        // font-size: 1vw;
        font-size: 1.1rem; //
        display: inline;
        padding-left: 10px;
        width: 40px;
      }

      input[type="checkbox"]:invalid:not(:placeholder-shown, :focus) {
        border: solid 1px colors.$purple-2;
        background-color: white;
      }
    }

    .hidden {
      opacity: 0;
    }

    #confirmation-text {
      margin-top: 30px;
    }
  }
}

@media only screen and (min-width: 760px) {
  .about-timeline {
    #part4 {
      #contact-form {
        margin-top: 0; //usunac

        input[type="text"],
        input[type="email"],
        textarea {
          width: 40vw;
          padding: 10px 20px;
          margin-bottom: 20px;
          padding: 10px 20px;
          // margin-bottom: 10px;
          // width: 80vw;
          // border-radius: 20px;
          // border: solid 1px colors.$purple-2;
        }

        label {
          font-size: 1.1rem; //back do 1.1rem
        }

        button {
          margin: 1.5vw 0 0 0;
          display: auto; //
          margin-top: 20px;
        }

        label[for="terms"] {
          font-size: 0.9rem; //
        }
      }
    }
  }
}

@media only screen and (min-width: 1200px) {
}
